<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/36e1584f-f05c-47c1-89b1-4f6520bc910b/resourceGroups/MPM-SRS/providers/Microsoft.Web/sites/mpm-srs-backend-dev</ResourceId>
    <ResourceGroup>MPM-SRS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://mpm-srs-backend-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>mpm-srs-backend-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mpm-srs-backend-dev</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mpm-srs-backend-dev</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>